.test1{
    margin: 0 0.5em;
    height: 17.8%;
    width: 100%;
    /* overflow: hidden;
    display: flex; */
    text-align: center;
    justify-content: center;
}
.test2{
  margin: 0 0.5em;
  height: 17.8%;
  width: 100%;
   overflow: hidden;
  display: flex;
  
  justify-content: center;
}